*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
util/build
sprites/javafx/bin/
sprites/model/bin/
sprites/model/build/
sprites/javafx/build/
util/bin/
